body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noty_type__brand-alert {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}
.noty_type__brand-success {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}